<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="Shortcut Icon" href="/static/images/favicon.ico">
    <title>python学习</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/css/font-awesome.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/default.css">
</head>
<body>
<div id="header">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-4 logo-div">
                    <div class="logo-inner text-center">
                        <div class="logo-name">
                            <a href="/">
                                <img src="/static/images/pic.jpg" class="img-circle"/>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 header-text-top " id="about">
                    <h1>Go with proven and solid technologies when you can</h1>
                    <br>
                    Full stack capability is an open mind full of exploration, supplemented by the ability to quickly
                    delve into the relevant professional fields. <br/>
                    <h2><strong>Who I am ? </strong></h2>
                    <i>I am Jie Qiu </i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="info-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                Say hello to me at <strong>atjqiujie</strong>@gmail.com
            </div>
            <div class="col-md-3">
                <div class="social-link">
                    <a href="https://www.facebook.com/profile.php?id=100028162717958" class="btn btn-default btn-xs"><i
                            class="fa fa-facebook fa-2x"></i></a>
                    <a href="https://github.com/tianjinqiujie" class="btn btn-default btn-xs"><i
                            class="fa fa-github fa-2x"></i></a>
                    <a href="https://twitter.com/qiujie9" class="btn btn-default btn-xs"><i
                            class="fa fa-twitter fa-2x"></i></a>
                    <a href="https://www.google.com/" class="btn btn-default btn-xs"><i
                            class="fa fa-google-plus fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% block index %}
        {% endblock %}

        <div class="col-md-1"></div>
        <div class="col-md-3" style="padding-top: 30px;">
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item"><strong>CATEGORY</strong></li>
                    {% for category in category_list %}
                        <li class="list-group-item"><a
                                href="/category/{{ category.nid }}">{{ category.title2 }}({{ category.b }})</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row">
                <h3>DATE</h3>
                {% for month in month_list %}
                    <li class="list-group-item"><a href="/month/{{ month.d }}">{{ month.d }}({{ month.c }})</a></li>
                {% endfor %}
            </div>
            <br>
            <br>
            <form action="" method="post">
                <label for="exampleInputEmail2"></label>
                <div class="row input-group">
                    <input type="text" class="form-control" placeholder="SELECT" aria-describedby="basic-addon2"
                           name="select">
                    <span class="input-group-addon" id="basic-addon2"> <input type="submit" value="搜索"></span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="footer-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 foo-inner">
                Copyright © 2017 www.mypy3.cn | <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=12010102000217">津网安备案号:12010102000217 </a>津ICP备18006689号-1 - Collect from
                <a href="/login/" target="_blank">后台管理</a>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
         $(".content img").addClass("img-responsive center-block");
    });
</script>
</body>