{% extends 'base.html' %}
{% block index %}

    <div class="col-md-8 ">
        {% for row in data_list %}
            <div class="blog-post">
                <h2>{{ row.title }}</h2>
                <h4>Posted by <a href="#">qiujie</a> on &nbsp;{{ row.create_time }} </h4>
                <p>
                    {{ row.des }}
                </p>
                <a href="/article_detail/{{ row.id }}" class="btn btn-default btn-lg ">Read More <i
                        class="fa fa-angle-right"></i></a>
            </div>
        {% endfor %}
        <br/>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {{ page|safe }}
            </ul>
        </nav>
    </div>
{% endblock %}

